.border-red { border: 1px solid red }

.task-item {
    box-sizing: border-box;
    color: #242424;
    background-color: azure;
    max-width: 350px;
    border-radius: 5px;
    padding: 8px 10px;
    margin-top: 10px;
    cursor: pointer;
}

.top-card {
    display: flex;
    justify-content: space-between;
}

.priority-image {
    width: 32px;
}

.priority-image img {
    width: 100%;
}

.overlay {
    position: fixed;
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.modal {
    background-color: white;
    padding: 2rem;
    border-radius: 8px;
    max-width: 500px;
    width: 90%;
    color: black;
    position: relative;
}

.closeBtn {
    position: absolute;
    top: 10px;
    right: 10px;
}
