@font-face {
  font-family: Regular;
  src: url("../Inter_18pt-Regular.ttf");
}

@font-face {
  font-family: SemiBold;
  src: url("../Inter_18pt-SemiBold.ttf");
}

:root {
  font-family: Regular, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --green-theme: #2cc5a8;
  --animate-duration: 600ms;
}

* {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none; /* evita menu de contexto em long press no iOS */
}

a {
  font-family: SemiBold;
  color: var(--green-theme);
  text-decoration: inherit;
  transition: 0.3s;
}
a:hover {
  color: #239d87;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  font-size: 1.2em;
  padding-block: 10px;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  user-select: none;
  -webkit-user-select: none;
}

h1 {
  font-size: 2em;
  line-height: 1.1;
  font-family: SemiBold;
}

button {
  border-radius: 13px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--green-theme);
  color: white;
  cursor: pointer;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  transition: 0.3s;
}

button:hover {
  background-color: #239d87;
}

#content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
